
{% extends "layout.html" %}
{% block body_class %}default-page{% endblock %}
{% block content %}
<div class="form_box">
<div class="content_section">
    <h2>Register</h2>
  
    <form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag()}}
    <fieldset class="form_group">
        <legend class="border_bottom mb-4">JOIN TODAY</legend>  <br>
        <div class="form_group">
            {{form.username.label(class="form_control_Label")}}
            {%if form.username.errors %}
            {{ form.username(class="form-control form-control_ig is_invalid")}}
            <div class="invalid_feedback">
                {% for error in form.username.errors %}
                <span>{{error}}

                </span>
                 {%endfor %}
            </div>
            {% else %}
            {{form.username(class="form_control form-control_ig")}}
            {%endif%}
        </div>
        <div class="form_group">
            {{form.email.label(class="form_control_Label")}}
            {%if form.email.errors %}
            {{ form.email(class="form-control form-control_ig is_invalid")}}
            <div class="invalid_feedback">
                {% for error in form.email.errors %}
                <span>{{error}}

                </span>
                 {%endfor %}
            </div>
            {% else %}
            {{form.email(class="form_control form-control_ig")}}
            {%endif%}
        </div>
        <div class="form_group">
            {{form.password.label(class="form_control_Label")}}
            {%if form.password.errors %}
            {{ form.password(class="form-control form-control_ig is_invalid")}}
            <div class="invalid_feedback">
                {% for error in form.password.errors %}
                <span>{{error}}

                </span>
                 {%endfor %}
            </div>
            {% else %}
            {{form.password(class="form_control form-control_ig")}}
            {%endif%}
        </div>
        <div class="form_group">
            {{form.confirm_password.label(class="form_control_Label")}}
            {%if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control_ig is_invalid")}}
            <div class="invalid_feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{error}}

                </span>
                 {%endfor %}
            </div>
            {% else %}
            {{form.confirm_password(class="form_control form-control_ig")}}
            {%endif%}
        </div>
    </fieldset>
    <div class="form_group">
        {{ form.submit(class="btn btn_outline_info")}}
    </div>
    </form>
</div>
</div>
<div class="border_top pt-3">
    <small class="text_method">
        Already have an account?<a class="ml-2" href="{{url_for('login')}}">SIGN IN</a>
    </small>
</div>
{% endblock %}
